body {
    
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(https://c8.alamy.com/comp/RGH3CH/hotel-booking-sign-on-a-wooden-step-with-blurry-background-of-a-residental-suite-RGH3CH.jpg);

}

.container {
    background: transparent;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: rgba(177, 38, 38, 0.825);

}

input[type="text"],
input[type="email"],
input[type="date"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-weight: bold;
}

button {
    background-color: #007bff;
    color: #e3fa6e;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}
.abc{
    color: rgba(231, 26, 26, 0.656);
    font-weight: bold;
}
#Adv{
    text-size-adjust:auto;
    margin-bottom: 20px;
    font-weight: bold;
}
